@import "partials/reset";

body{
  background-color: rgba(25,25,25,1);
}
h1{
  color: white;
}
.s{
  background-image: url('https://media.giphy.com/media/TeBpzQZRaBIC4/giphy.gif');
  bottom: 0;
  right: 0;
}